lib
node_modules/
logs/
coverage/
.nyc_output/
.scannerwork/
.npmrc 
examples/packed/**/*.js
docs/examples/packed/frontend-apis/@todo/
docs/examples/packed/frontend-apis/public/
build/*
modules/platform-grpc/dist/
yarn.lock
docs_old/
modules/docs/

# stryker temp files
.stryker-tmp
