.todo-list{
    float: left;
    height: 500px;
    width: 45%;
    overflow: auto;
}

.todo-card{
    float: left;
    height: 500px;
    width: 45%;
    overflow: auto;
}
.more-btn{
    float: right;
}

.todo{
    font-size: 11px;
}