<div class="jumbotron">
  <h1> {{ title }}</h1>
  <div class="todo">
    <button (click)="getTodoList()" class="btn btn-primary">List</button>
    <div class="todo-list">
      <ul class="list-group">
        <li *ngFor="let todo of todos" class="list-group-item">{{todo.title}}
          <a (click)="getMore(todo.id)" class="btn btn-primary more-btn">More</a>
        </li>
      </ul>
    </div>
    <div class="todo-card">
      <div class="card" *ngIf="activeTodo">
        <div class="card-body text-center">
          <h5 class="card-title">{{activeTodo.title}}</h5>
          <p class="card-text">{{activeTodo.userId}}</p>
          <a href="#" class="btn btn-primary">Completed: {{activeTodo.completed}}</a>
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>