<as-split direction="horizontal" gutterSize="5">
  <as-split-area size="60">
    <as-split direction="vertical">
      <as-split-area>

        <div class="card">
          <ul class="list-group list-group-flush" *ngIf="dashboard">
            <li class="list-group-item" *ngFor="let route of dashboard[publicProperty]">

              <div class="card-header" (click)="route._display=!route._display">
                {{route.name}}
              </div>

              <table aria-describedby="routes" class="table table-striped table-hover" [hidden]="!route._display">
                <thead class="thead-dark">
                  <tr>
                    <th id="verb">Verb</th>
                    <th id="key">Key / Route</th>
                    <th id="args">Args</th>
                    <th id="action"></th>
                  </tr>
                </thead>
                <tbody class="routes-table">

                  <tr *ngFor="let method of getValues(route.methodus._descriptors)">
                    <td>
                      {{method.verb}}
                    </td>

                    <td>
                      <a style="word-break: break-all;">
                        {{ method.propertyKey}}
                      </a>

                      <br />
                      <span style="word-break: break-all;">
                        <strong>{{route.methodus.prefix}}</strong>{{ method.route}}
                      </span>
                    </td>
                    <td>

                      <table aria-describedby="params" class="table dark small">
                        <tr *ngFor="let paramItem of method.params">
                          <th id="from_name">
                            {{paramItem.from}}:
                            {{paramItem.name}}
                          </th>
                          <td>
                            {{paramItem.type}}
                            <span *ngIf="paramItem.schema">
                              <a><em class=""></em>
                              </a>
                              <pre>
                                {{paramItem.schema | json}}
                              </pre>

                            </span>

                          </td>
                        </tr>
                      </table>
                    </td>
                    <td>
                      <a class="btn btn-primary btn-md test-btn"
                        href="#/dashboard/describe/describe/{{servicesType}}/{{route.name}}/{{method.propertyKey}}">
                        <em class="icon-list1"></em>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </li>

          </ul>
        </div>
      </as-split-area>

    </as-split>
  </as-split-area>
  <as-split-area size="40">
    <as-split direction="vertical" gutterSize="5">
      <as-split-area size="25" style="overflow: hidden!important">
        <div class="testPanel" style="height: 100%">
          <router-outlet></router-outlet>
        </div>
      </as-split-area>

    </as-split>
  </as-split-area>
</as-split>
