.active {
    display: block;
}
.row{
    margin: 0;
}



.expect-undefined{
    background-color: gray;
}

.expect-true{
    background-color: green;
}

.expect-false{
    background-color: red;
}
.btn-xs{
     
    width: 16px;
    height: 16px;
    padding: 1px;
    border-radius: 0.1rem;
    font-size: 0.5rem;
    color: white;
    svg {
        color: white;
    }
}
.output {
    background-color: #282b2d;
    position: relative;
    width: 100%;
    height: 100%;
}

.label-output {   
     color: white;    
}

.full-output {   
    color: #8efc8e;
    width: 100%;
    height: 100%;
    font-family: monospace;
    border: none;
    padding: 5px;
    padding-bottom: 30px;
}

.list {
    background-color: #dee2e6;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.toolbar-bg {
    background-color: #4e5255;
    height: 40px;
}

.sub-bar {
    width: 100%;
    margin: 15px;
    border: #555d63;
}

.toolbar-logo {
    float: right;
    width: 90px;
    background-color: #4e5255;
}

.clicker {
    position: absolute;
    width: 5px;
    background-color: black;
}

.card-header {
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.request-row {
    font-size: 1.25rem;
    color: white;
    background-color: #333333
}

.action-row {
    table {
        width: 100%;
        padding: 0;
        margin: 0;
        .end {
            width: 20px;
            text-align: right;
        }
        .start {
            width: auto;
        }
        .result {
            white-space: normal;
            color: white;
            font-size: 0.8rem;
        }
    }
}

.thead-dark {
    font-size: 0.7rem;
}

.routes-table {
    font-size: 0.7rem;
}

.test-btn {
    font-size: 0.7rem;
}