@import "./_variables";
@import "./mixins";
@import "../../node_modules/font-awesome/scss/font-awesome";

.my-code-editor {   
    height: 100%!important;
  
}

.injectionDiv{
width: 100%;

}

.blockly{
  position: relative!important;
}

.expect-success>.blocklyPath {
  stroke: rgb(32, 224, 32);
  stroke-width: 3px;
}

.expect-error>.blocklyPath {
  stroke: rgb(233, 28, 28);
  stroke-width: 3px;
}

/* You can add global styles to this file, and also import other style files */

.form-control.is-invalid {
  background-image: none;
}

 
 
 

 

.theme-white {
  background-color: #fff;
}
.library-cat {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(158, 158, 158, 1) 100%);
  color: #fff;
}

.scroll {
  overflow-y: auto;
}

::-webkit-scrollbar-button {
  display: block;
  height: 23px;
  border-radius: 0px;
  background-color: #aaa;
}
::-webkit-scrollbar-button:hover {
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
::-webkit-scrollbar-track {
  background-color: #efefef;
}
::-webkit-scrollbar-track:hover {
  background-color: #ccc;
}
::-webkit-scrollbar {
  width: 15px;
}

.live {
  padding-top: 13px !important;
  .switch.switch-small > .switch-pane > span {
    font-size: 12px !important;
  }

 

  .switch.switch-small {
    height: 20px;
    margin: 0px;
    border: 0px solid;
    .svg-inline--fa {
      margin-top: 3px;
      width: 100%;
      height: 75%;
    }
  }
}

.pt50 {
  padding-top: 50px;
}
.pt20 {
  padding-top: 20px;
}
.m10 {
  margin: 10px;
}
.mt10 {
  margin-top: 10px;
}

.mt5 {
  margin-top: 5px;
}

.nav-link {
  cursor: pointer;
}

.layer.selected {
  border: 1px dotted black !important;
}
.element.true {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px dotted black !important;
}

.shadow {
  border: none;
  border-radius: 35;
  background: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
* {
  font-family: 'Ubuntu', sans-serif;
}


.sortable-header {
  display: none;
}
.sortable-item {
  padding: 6px 12px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  cursor: grab;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #adadad;
}

.sortable-item-active {
  background-color: #e6e6e6;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.page-title {
  float: left;
  margin: 5px;
}
.sortable-wrapper {
  min-height: 150px;
}

.btn {
  margin: 1px;
}

.action-row {
  min-height: 40px;
  font-size: 11px;
}

.white {
  color: white !important;
}
.pre-scrollable-fluid {
  /* max-height: 340px; */
  overflow-y: scroll;
}

.fullsize {
  width: 100%;
}

.fixed-header {
  position: fixed;
  top: 35px;
  left: 145px;
}

.fancy-thumb {
  .label {
    color: white;
    background-color: rgba(0, 0, 0, 5);
    padding: 2px;
  }
}

.canvas-bg {
  .label {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 5);
    padding: 2px;
  }
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: rgb(0, 0, 0);

  color: #fff;
  transition: all 0.3s;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

dialog::backdrop {
  background: rgba(119, 116, 116, 0.25);
}

dialog {
  padding-right: 0;
  border: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.footer {
  &.closed {
    height: 15px;
  }
  &.opened {
    height: 150px;
  }
  font-size: 11px;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;

  background-color: $color-lightblue1;
}
.lobby {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.lobby > div {
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 1em;
  box-sizing: border-box;

  background: #fff;
  border: none;
  border-radius: 0;
 
}

.selected {
  border: 1px dotted black !important;
}

#content {
  width: 100%;
}
.no-margin {
  margin: 0;
  padding: 0;
}

.ltr {
  .btn-long {
    opacity: 0.6;
    font-size: 24px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
  }

  .input-group > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .direction {
    float: right;
  }
  .direction-invert {
    float: left;
  }

  .slider-container {
    max-width: 0;
    padding: 0;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0;
    right: -50%;
  }
  .slider-container-drawer,
  .slider-container-wide {
    z-index: 1500;
    max-width: 0;
    padding: 0;
    height: 94%;
    position: fixed;
    top: 10px;
    bottom: 40px;
    right: -50%;
  }
  .slider-container-drawer.active,
  .slider-container-wide.active {
    width: 100%;
    max-width: 900px;
    right: 0;
    overflow-x: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .slider-container.active {
    right: 0;

    width: 100%;
    max-width: 500px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .slider-container.closing {
    right: -50px;
    overflow-x: hidden;
    width: 0%;
    max-width: 0px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .mr-auto li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
}

 

.btn-long:hover {
  opacity: 1;
}

.dashboard-nav {
  padding: 8px;
  height: 50px;
  border: none;

  background: #e3e4e5;
}

.btn-md {
  padding: 3px 3px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0.2rem;
}

 

.sqr-toolbar {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 3;
  bottom: 4px;

  background-color: #adadad;
  height: 32px;
  visibility: hidden;

  li {
    height: 30px;
    display: inline-block;
    list-style-type: none;
    padding: 3px;
  }
}

.sqr {
  .label {
    font-weight: bold;
    white-space: nowrap;
  }
  .value {
    white-space: nowrap;
  }
  position: relative;
  cursor: pointer;
  /* overflow: hidden;*/
  width: 200px;
  height: 150px;
}

.btn-spinner-host {
  position: relative;
  padding-right: 20px;
}
@keyframes btn-spinner {
  to {
    transform: rotate(360deg);
  }
}

.btn-spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 95%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: btn-spinner 0.6s linear infinite;
}

a.nav-cat {
  color: $color-nav-text-selected;
}
div.nav-cat {
  color: $color-nav-selected;
  background-color: $color-darkblue1;
}

.dashboard-cat {
  height: 50px;
  background: #000;
}

.ng5-slider .ng5-slider-pointer {
  cursor: pointer;
  width: 16px !important;
  height: 16px !important;
  top: -7px !important;
  background-color: #0db9f0;
  z-index: 3;
  border-radius: 8px !important;
}

.ng5-slider .ng5-slider-pointer:after {
  content: "";
  width: 4px !important;
  height: 4px !important;
  position: absolute;
  top: 6px !important;
  left: 6px !important;
  border-radius: 4px !important;
  background: #fff;
}

.joyride-backdrop {
  display: none !important;
}

.joyride-step__body {
  white-space: pre;
}

.footer .bottom .social .icons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  text-align: center;
}

/* ---------------------------------------------------
    ACCORDION OVERRIDE STYLE
----------------------------------------------------- */

.card {
  border: none;
}

.card-body {
  padding: 0;
}

.card:last-child {
  border: none;
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
}

 

 

/* ---------------------------------------------------
    END OF ACCORDION OVERRIDE STYLE
----------------------------------------------------- */
html,
body {
  height: 100%;
  overflow: hidden;

}
 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
